@import '../varibales.scss';


.recorder{
    display: flex;
    flex-direction: column;
    .MuiButtonGroup-contained{
        direction: ltr;
        box-shadow:none;
        margin:0.7rem auto 0 auto;
        .MuiButtonBase-root.MuiButton-root {
            color:$dBlue;
            background-color: $turquoise;
        }

    }
}