@import '../../styles/varibales.scss';


.recorder{
    margin-top:1rem;

    .record__p{
        color:$turquoise;
        font-weight: 900;
        font-size: 0.8rem;
        text-align: center;
        margin-bottom:1rem;
    }

    //level1
    .lvl1__img{
        margin:1rem auto 0 auto;
        display: block;
        width:1.5rem;

    }

    //level2
    .stop-btn{
        width:2rem;
        height: 2rem;
        border:3px solid $pink;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto 0.5rem auto;

    }

    .sound-wave{
        padding: 0;
        margin:0 auto;
        display: block;
        width: 10rem;
    }
    ////


    ///level3
    .lvl3__speaker{
        width:2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $pink;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto;

        img{
            width:1.2rem;
            height: 1.2rem;
        }
    }

    .lvl3__delete{
        width:1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        background-color: $turquoise;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        position: relative;
        bottom:2.5rem;
        right:1.2rem;

        .MuiSvgIcon-root{
            width:1rem;
            mix-blend-mode: screen;
        }
    }




   
}
