@import '../../styles/varibales.scss';
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import '../../styles/mixin.scss';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    direction: ltr;
    font-family: 'Assistant';
}

h1,h2,h3,h4,h5,h6,span,p,div,a{
    color:$dBlue;
}

.App{
    height: 100%;
    width: 100%;
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
}

.container{
    margin:$mParent;
}

.unit{
    margin: 1rem auto 0 auto;
    width: 80vw;
    background-color: $white;
    border-radius: 5px;
    box-shadow: $shadow-box;
    padding:0.6rem 1rem;
}

.page{
    padding:0 1.25rem;
    display: flex;
    flex-direction: column;
}