@import '../../styles/mixin.scss';
@import '../../styles/animations.scss';

.opening-page{

    .title{
        margin-top: 3rem;

        &>*{
            color: rgba(19, 27, 103, 1);
            font-size: 3.7rem;
            text-align: center;
            line-height: 95%;
        }
        
        p{font-weight: 100;}
        h1{font-weight: bolder;}
    }

    .buttons{
        @for $var from 1 through 3 {
            & > .link:nth-child(#{$var}) {
                -webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                animation: slide-in-bottom 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
              animation-delay: $var * (1s / 9);
            }
          }

        align-self: center;
        display: flex;
        flex-direction: column;
        margin-top:1rem;
       
        a{
            text-decoration: none;
            margin-top:1.7rem;
            
            div{padding:0.4rem 2.2rem;}
        }

        .blue{
            @include btn(false);
        }
        .pink{
            @include btn();
        }
    }
}

