@import '../../styles/varibales.scss';

.questionnaire{
    h1{
        // margin: 0 1.25rem;
        direction: ltr;
        color: $dBlue;
        width:calc(100vw-2.5rem); 
        font-weight:bolder; 
        font-size: 1.8rem;

        &::after{
            content:'';
            display:block;
            border:0.6px solid $dBlue;
            margin-top:0.3rem;
        }
    }

    .serial-num p{
        font-weight: bolder;
             display: inline-block;
             font-size: 1.3rem;
             font-weight: 400;
             margin-right: 3vh; 
     }
     

}

.choose{
        margin-top: 4vh;
        padding: 2vh;
        align-self: center;
        background-color: $white;
        width: 89vw;
        height: 22vh; 
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: $shadow-box;


        p{
            direction: ltr;
            align-self: center;
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: 2vh;
        }
        
        .icons{
            margin-left: 3vh;
            align-self: center;
            margin-top: 3vh;

            img{
            margin-right: 2vh;    
            }
        }

}