@import '../../styles/varibales.scss';

.add-new-student{
    margin-right: 7vw;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;

    .top-bar{
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .MuiSvgIcon-root{
            font-size: 3rem;
        }
    }

        h1{
            direction: ltr;
            color: $dBlue;
        }
    }

    .student-details{
        margin-top: 4vh;
        padding: 2vh;
        align-self: center;
        background-color: $white;
        width: 85vw;
        height: 35vh; 
        border-radius: 5px;
        box-shadow: $shadow-box;

        p{
          color: $turquoise;
          font-weight: bold;
          font-size: 1rem;
          margin-top: 2vh;
          padding-right: 2vh;
          direction: ltr;
        }

        input{
            border: 1px solid $turquoise;
            border-radius: 25px;
            width: 80vw;
            height: 5vh;
            margin-top: 0.5vh;
            background-color: transparent;
            align-self: center;
            padding: 1.5vh;
            color: $dBlue;
            direction: ltr;
            font-size: 1rem;
        }

        input:focus{
            outline: none;
        }

        .personal-code{

            .code-input{
                display: flex;
                flex-direction: row;
                border: 1px solid  $turquoise;
                border-radius: 25px;
                width: 80vw;
                height: 5vh;
                padding: 1vh;
                margin-top: 0.5vh;

                input{
                    align-self: center;
                    border: none;
                    background-color: transparent;
                    padding: 1vh;
                    color: $dBlue;
                    direction: ltr;
                    font-weight: bold;
                    font-size: 1rem;
                }
                
                .MuiSvgIcon-root{
                    color: $pink; 
                    align-self: center;
                }
            }
        }
    }
    
    .save-btn{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 90vh;
        border: 1px solid $pink;
        border-radius: 25px;
        background-color: $pink;
        color: $white;
        padding: 1.5vh;
        font-weight: bold;
        font-size: 1.3rem;
        width: 25vw;
        height: 7vh;;
        text-align: center;
    }
