@import '../../styles/mixin.scss';

.list-stock-quiz{
    h1{
        color: rgba(19, 27, 103, 1);
        margin: 0.5rem 0 0 1.2rem;
        font-size: 1.8rem;
        font-weight: 900;
    }

    .quizzes-container{
        padding-bottom: 7rem;
    }
}

