.add-new-student{
    margin-right: 7vw;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;

    .top-bar{
        margin-top: 2vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .MuiSvgIcon-root{
            font-size: 3rem;
        }
    }

        h1{
            direction: ltr;
            color: rgba(19, 27, 103, 1);
        }
    }

    .student-details{
        margin-top: 4vh;
        padding: 2vh;
        align-self: center;
        background-color: white;
        width: 85vw;
        height: 35vh; 
        border-radius: 5px;
        box-shadow: 0 0.3vh 1vh 0vh rgba(0, 0, 0, 0.16), 0 0.3vh 1vh 0vh rgba(0, 0, 0, 0.16);
    
    

        p{
          color: rgba(17, 171, 185, 1);
          font-weight: bold;
          font-size: 1rem;
          margin-top: 2vh;
          padding-right: 2vh;
          direction: ltr;
        }

        input{
            border: 1px solid  rgba(17, 171, 185, 1);
            border-radius: 25px;
            width: 80vw;
            height: 5vh;
            margin-top: 0.5vh;
            background-color: transparent;
            align-self: center;
            padding: 1.5vh;
            color: rgba(19, 27, 103, 1);
            direction: ltr;
            font-size: 1rem;
        }

        input:focus{
            outline: none;
        }

        .personal-code{

            .code-input{
                display: flex;
                flex-direction: row;
                border: 1px solid  rgba(17, 171, 185, 1);
                border-radius: 25px;
                width: 80vw;
                height: 5vh;
                padding: 1vh;
                margin-top: 0.5vh;

                input{
                    align-self: center;
                    border: none;
                    background-color: transparent;
                    padding: 1vh;
                    color: rgba(19, 27, 103, 1);
                    direction: ltr;
                    font-weight: bold;
                    font-size: 1rem;
                }
                
                .MuiSvgIcon-root{
                    color: rgba(166, 34, 92, 1); 
                    align-self: center;
                }
            }
        }
    }
    
    .save-btn{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 90vh;
        border: 1px solid rgba(166, 34, 92, 1);
        border-radius: 25px;
        background-color: rgba(166, 34, 92, 1);
        color: white;
        padding: 1.5vh;
        font-weight: bold;
        font-size: 1.3rem;
        width: 25vw;
        height: 7vh;;
        text-align: center;
    }
