@import 'varibales';

.page{
    background-color: $light-gray;
    width: 100vw;
    height: 100vh;
}

.answer{
    padding:2rem;

    h1{
        padding:0 auto;
        align-self: center;
        // margin: auto;
        // margin-left: 35%;
    }

    .AQ-recorder{
        margin-top:1rem;
    }

    .recorder{
        width: fit-content;
        align-self: center;
        margin: auto;
        margin-left: 35%;
        margin-bottom: 2vh;
    }

    input{
        border: none;
        border-color: transparent;
        // background-color: rgb(113, 240, 170);
        padding: 1vh;
        margin-top: 2vh;
        // min-width: 15vw;
        width:17rem;
        text-align: center;
        height: 2.5rem;
        border-radius: 5px;
        align-self: center;
        // margin: auto;
        margin: 0 auto;
    }

    .input-answer:focus{
        outline:none;
    }
}