.create-challenge{
    margin-left: 7vw;
    margin-right: 7vw;

        .top-bar{
            margin-top: 2vh;
            
            .MuiSvgIcon-root{
                font-size: 3rem;
            }
        }

        h1{
            direction: ltr;
        }

        hr{
           margin-top: 1.5vh;
           height: 1px;
           font-weight: bold; 
           background-color: rgba(19, 27, 103, 1); 
           border: none;
        }

        p{
            font-size: 1.2rem;
            color: rgba(19, 27, 103, 1);
            direction: ltr;
            margin: 2vh 0vh 0vh 1vh;
        }

        .add-quest-btn{
            background-color: rgba(166, 34, 92, 1);
            color: white;
            border-radius: 25px;
            padding: 2vh;
            width: fit-content;
            margin-top: 3vh;
            margin-right: 25vw;
            font-weight: bold;
            font-size: 1.3rem;

        }

        .question-unit{
            background-color: white;
            display: flex;
            flex-direction: column;
            margin-top: 2vh;
            padding: 2vh;
            border-radius: 5px;
            box-shadow: 0 0.3vh 1vh 0vh rgba(0, 0, 0, 0.16), 0 0.3vh 1vh 0vh rgba(0, 0, 0, 0.16);
    
            
            .delete{
                margin-right: 70vw;
    
                .MuiSvgIcon-root{
                    color: rgba(166, 34, 92, 1);
                    font-size: 1.5rem;
                }
            }
    
            p{
                color: rgba(17, 171, 185, 1);
                margin-right: 5vw;
                padding: 1vh;
            }
    
            .question{
                text-align: start;
                padding-right: 4vh;
                padding-top: 1vh;
                border: 1px solid rgba(17, 171, 185, 1);
                border-radius: 25px;
                height: 5vh;
                
                input{
                    background-color: transparent;
                    text-align: start;
                    width: fit-content;
                    min-width: 90vw;
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgba(19, 27, 103, 1);
                    outline: none;
                    border:none;
                }
            }

            .answer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                padding-top: 1vh;
                border: 1px solid rgba(17, 171, 185, 1);
                border-radius: 25px;
                height: 5vh;
                color: rgba(19, 27, 103, 1);
                font-weight: bold;
                margin-bottom: 2vh;
                background-color: transparent;

                input{
                    background-color: transparent;
                    text-align: start;
                    padding-top: 4vh;
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgba(19, 27, 103, 1);
                    outline: none;
                }

                div{
                    .MuiSvgIcon-root{
                        color: rgba(166, 34, 92, 1);                
                    }
                }
            }

            .add-answer{
                color: rgba(166, 34, 92, 1);
                font-weight: bold;
                padding: 1vh;
            }
        }
}

