.opening-page{
    height: 100vh;
    width:100vw;
    background-color: rgba(233, 233, 234, 1);
    display: flex;
    flex-direction: column;

    .MuiSvgIcon-root{
        align-self: flex-end;
        font-size: 3rem;
        color: rgba(27, 37, 128, 1);
        font-weight: bold;
        margin: 2vh 0vh 0vh 2vh;
    }

    .title{
        margin-top: 10vh;
        
            h1{
                color: rgba(19, 27, 103, 1);
                font-size: 3.7rem;
                text-align: center;
            }
    }

    .buttons{
        align-self: center;
        margin-top: 6vh;
        display: flex;
        flex-direction: column;

        .btn{
            width: 55vw;
            height: 7vh;
            border-radius: 25px;
            padding: 1.5vh 4vh 2vh 1vh;
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 1);
            font-weight: 400;
            margin-top: 4vh;
            align-self: center;
            direction: ltr;
            text-align: center;
        }

        .blue{
            background-color: rgba(17, 171, 185, 1);            
        }

        .pink{
            background-color: rgba(166, 34, 92, 1);
        }
    }
}

.bold{
    font-weight: bold;
}

.link{
    text-decoration: none;
}