.questionnaire{
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    .top-bar{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1vh;

        .MuiSvgIcon-root{
            font-size: 2.5rem;
            color: rgba(19, 27, 103, 1);
        }
    }


    h1{
        margin-top: 2vh;
        direction: ltr;
        color: rgba(19, 27, 103, 1);  
    }
    
    hr{
        margin-top: 1.5vh;
        height: 1.5px;
        font-weight: bold; 
        background-color: rgba(19, 27, 103, 1); 
        border: none;
    }
    
    .serial-num{
            margin-left: 2vh;
            display: flex;
            flex-direction: row;
            direction: ltr;
            margin-top: 2vh;

         p{
             font-size: 1.3rem;
             font-weight: 400;
             margin-right: 3vh; 
         }
     }
     

}

.choose{
        margin-top: 4vh;
        padding: 2vh;
        align-self: center;
        background-color: white;
        width: 89vw;
        height: 22vh; 
        border-radius: 5px;
        box-shadow: 0 0.3vh 1vh 0vh rgba(0, 0, 0, 0.16), 0 0.3vh 1vh 0vh rgba(0, 0, 0, 0.16);
        display: flex;
        flex-direction: column;


        p{
            direction: ltr;
            align-self: center;
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: 2vh;
        }
        
        .icons{
            margin-left: 3vh;
            align-self: center;
            margin-top: 3vh;

            img{
            margin-right: 2vh;    
            }
        }

}