@import 'varibales.scss';


.questions{
    background-color:$light-gray;
    width: 100vw;
    height: 100vh;

    .main{
        padding-top: 8vh;
        display: flex;
        flex-direction: column;
        margin:0 auto;
        width:40vw;
        height: 80vh;

        .title{
            align-self: center;
            // margin: auto;
            // margin-left: 35%;
        }

        .question-list{
            width:20vw;
            margin:0 auto;
            .quest-unit{
                border:1px solid $darkest-blue;
                height: 2.5rem;
                border-radius: 5px;
                display: flex;
                margin-top:1rem;

                .icons{
                    margin:auto auto auto 1rem;
                    &>*{
                        color:$turquoise;
                    }
                }

                input{
                    height: 2rem;
                    margin:auto 0.5rem auto 0;
                }

            }
        }

        .MuiButtonBase-root.MuiIconButton-root.add-btn{
            background-color: $turquoise;
            // display: inline-block;
            margin:0.5rem auto;
            width:3rem;
            height: 3rem;
        }

        .MuiButton-root.publish-btn{
            // margin-top:auto;
            background-color: $dark-blue;
            // display: inline-block;
            margin:auto auto 0 auto;
            width:10rem;
            height: 2.5rem;
            .MuiButton-label{
                color:$light-gray;
            }
        }
    }
   
}
