.questions{
    background-color: rgb(113, 206, 240);
    width: 100vw;
    height: 100vh;

    .main{
        padding-top: 8vh;

        .title{
            align-self: center;
            margin: auto;
            margin-left: 35%;
        }

        .question-list{
            background-color: rgb(113, 240, 170);
            width: 20vw;
            align-self: center;
            display: flex;
            margin: auto;
            border-radius: 12px;
            margin-top: 5vh;

            .input{
                border: none;
                border-color: transparent;
                background-color: transparent;
                padding: 1vh 1vh 2vh 1vh;
                
            }

            .input:focus{
                outline:none;
            }

            .link{
                text-decoration: none;
                decoration: none; 
            }
        }

        .add-btn{
            align-self:center;
            margin:auto;
            margin-left:44%;
            padding-top: 2vh;
            display: block;
        }

        .post-btn{
            text-align: center;
            border: 2px solid rgb(222, 80, 127);
            align-self:center;
            margin:auto;
            height: 2vh;
            width: 15vw;
            border-radius: 12px;
            margin-left:44%;
            padding-top: 2vh;
            display: block;

            .post-text{
                align-self: center;
                padding-bottom:1vh;
            }
        }
    }
   
}
