.student-quiz-info{
    margin-right: 7vw;
    margin-left: 7vw;

    .top-bar{
        margin-top:1vh;
        .MuiSvgIcon-root{
            font-size: 2.5rem;
            color: rgba(19, 27, 103, 1);
        } 
    }
    
    .tags{
        display: flex;
        flex-direction: row;

    span{
        color: rgba(166, 34, 92, 1);
        border: 2px solid rgba(166, 34, 92, 1);
        border-radius: 25px;
        padding: 1vh;
        width: 25vw;
        margin-left: 2vh;
        text-align: center;
        margin-top: 2vh;
        font-weight: bold;
        }
    }

    .summary{
        display: flex;
        flex-direction: row;

        h1{
            color:rgba(17, 171, 185, 1);
            margin-left: 2vh;
            margin-top: 3vh;
        }
    }

    .challenge-unit{
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        padding: 2vh;
        
        .right{
            margin-right: 70vw;

            .MuiSvgIcon-root{
                color: rgba(17, 171, 185, 1);
                font-size: 2rem;
            }
        }

        .wrong{
            margin-right: 70vw;

            .MuiSvgIcon-root{
                color: rgba(166, 34, 92, 1);
                font-size: 2rem;
            }
        }

        .none{
            margin-right: 70vw;
            
            .MuiSvgIcon-root{
                color: rgba(19, 27, 103, 1);
                font-size: 2rem;
            }
        }

        p{
            color: rgba(17, 171, 185, 1);
            margin-right: 5vw;
            padding: 1vh;
        }

        .text-box{
            text-align: center;
            padding-top: 1vh;
            border: 1px solid rgba(17, 171, 185, 0.2);
            border-radius: 25px;
            height: 5vh;
            color: rgba(19, 27, 103, 1);
            font-weight: bold;
        }
    }
}