@import '../varibales.scss';

.student-info{
    margin-left: 7vw;
    margin-right: 7vw;
    
    .top-bar{
        direction: ltr;
        margin-top: 2vh;

        .MuiSvgIcon-root{
            font-size: 2.5rem;
            color: $dBlue;
        }
    }

        h1{
            font-size: 2rem;
            margin-top: 3vh;
            direction: ltr;
            font-weight: bold;
            color: $dBlue;
        }

        .total-score{
            display: flex;
            flex-direction: row;
            direction: ltr;
            color: $turquoise;
            margin-top: 2vh;

            .MuiSvgIcon-root{
                 color: $turquoise;
            }

            div{
                font-size: 1.3rem;
                align-self: center;
                color: $turquoise;
                padding-right: 0.5vh;
            }
        }

    }

    .challenge-unit{
        background-color: $white;
        margin-top: 2vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 2vh;
        height: 11vh;
        border-radius: 5px;
        box-shadow: $shadow-box;

        .left-side{
            display: flex;
            flex-direction: column;
            
            .unit-name{
                color: $dBlue;
                align-self: center;
                padding: 1vh 4vh 0vh 0vh;                
            }
    
            .category{
                color: $dBlue;
                font-weight: bold;
                align-self: center;
            }
        }

        .score{
            color: $turquoise;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 4vh 2vh 1vh 0vh;

            div{
                color: $turquoise;
                padding: 1vh 1vh 0.5vh 0vh;
                font-weight: bold;                
            }

        }
    }
