@import '../varibales.scss';

.summary-quiz{
    
    .top-section{

        .top-bar{
            margin-top: 3vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            
            .left-side{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 2vh;

                .MuiSvgIcon-root{
                    font-size: 1.5rem;
                    color: $pink;
                    margin-left: 1vh;
            }
            }

            .MuiSvgIcon-root{
                font-size: 2.5rem;
                margin-right: 2vh;
                color: $dBlue;
            }
        }

        .details{
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4vh;
            bottom: 2vh;

            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h1{
                    font-weight: bold;
                }

                p{
                    font-size: 1.3rem;
                }
            }

            .left{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                p{
                  color: $dBlue;
                  font-size: 1rem;
                  font-weight: 500;
                }

                .ans-num{
                    display: flex;
                    flex-direction: row; 
        
                    p{  
                      color: $turquoise;
                      font-weight: bold;
                      align-self: center;
                    }
                }
            }
        }

        .students-tab{

            .background{
                width: 106vw;
                position: absolute;
                top: -1vh;
                left: -3vw;
                right: -2vw;
                z-index: -1;
            }

            .icons{
                position: absolute;
                z-index: 1;
                top: 22vh;
                left: 12vw;

                .second-icon{
                    margin-right: 3vh;
                } 
            }
        }

        .questions-tab{

            .background{
                width: 106vw;
                position: absolute;
                top: 2.5vh;
                left: -3vw;
                right: -2vw;
            }

            .icons{
                position: absolute;
                z-index: -1;
                top: 22vh;
                left: 12vw;

                .second-icon{
                    margin-right: 3vh;
                }
            }
        }
    }

    .comp{
        margin-top: 10vh;
    }
}

.special-color{
    border: 1px solid rgba(17, 171, 185, 0.2) !important;
}